[2022-06-19 08:27] Vikash-8090-Yadav opened #1 "Create the remade .md file for the level0"
Hey folk's hope u all are doing great!!
If anyone want's to create the readme file  for the level0 then fell free to take this issue ..

[2022-07-22 01:59] Roshani9731 commented on #1
@Vikash-8090-Yadav Can I work on this?

[2022-07-22 17:38] Vikash-8090-Yadav opened #2 "Improve the UI of the level0 projects"
Improve the frontend part of the level0 projects .

[2022-07-22 17:40] Vikash-8090-Yadav commented on #1
Please mention if u r contributor at HSCO22 or not ?

[2022-07-23 05:14] srinjoy-26 opened #3 "hello world smart contract"
A hello world smart contract in solidity.

[2022-07-23 07:34] Vikash-8090-Yadav commented on #3
Hey this look's great ! Please mention the directory in which u want to add this code  file .Then i will assign this issue to u  .
Happy learning ✌️

[2022-07-23 07:39] srinjoy-26 commented on #3
In the contracts folder present in the truff directory

[2022-07-23 07:50] Vikash-8090-Yadav commented on #3
Nope u can't do like this .U have to make ur own file for hello world and create ur own truffle structure.Iin this way u will destroy the working of the MetaNft_Minting.

[2022-07-24 12:19] khushimarothi commented on #1
Im new to this . So What do  we exactly need to attach in a readme

[2022-07-24 13:24] Vikash-8090-Yadav commented on #1
Hey @khushimarothi Welcome to the open source journey  :crossed_fingers: .

**U can  includes the Name of the project's , their brief description , and some screen shot .**
 if possible try to make the Table of content also .

If u have some other idea about improvement  of the layout of the exsisting project or wana add new one  then feel free to create the issue .. :smile:

[2022-07-24 13:45] Vikash-8090-Yadav opened #4 "Image for Web3.O.World"
## If anyone want to create the Image for the Web3.O.world then feel free to comment .

**The sample for the image is shown below :**

![Screenshot from 2022-07-24 19-05-12](https://user-images.githubusercontent.com/85225156/180649700-dab58445-c3c9-4276-9a32-c3864fa40aff.png)

# **The original image should not be  exactly same as shown above . The image should  have blockchain , web3 related pics

[2022-07-24 14:13] GundaSudarrshan commented on #4
@Vikash-8090-Yadav  can you pls assign me this issue

[2022-07-24 14:18] Vikash-8090-Yadav commented on #4
Sure !

[2022-07-24 17:01] khushimarothi commented on #1
Thank you

[2022-07-25 12:10] Vikash-8090-Yadav opened #6 "Create Issue temaplate"
Greetings of the day folks !!
If anyone want's to create the issue template then feel free to comment

The issue template should contains ->  **Bug report , Feature request  and  other .**
like shown below

![Screenshot from 2022-07-25 17-32-13](https://user-images.githubusercontent.com/85225156/180773864-fc8bfbc3-6875-4518-9309-30cbb57b4be3.png)

[2022-07-25 12:43] Vikash-8090-Yadav opened #7 "Create P.R template"
Greetings of the day folks !!
If anyone want's to create the issue template then feel free to comment
The template should look like this shown below

![Screenshot from 2022-07-25 18-06-45](https://user-images.githubusercontent.com/85225156/180780114-598771cb-08ef-4167-a798-555fc0dbd12f.png)

[2022-07-26 08:54] GundaSudarrshan commented on #7
@Vikash-8090-Yadav  Can You assign it to me
and i have doubt where should i include that pr_template.md file
should i keep in main folder or create a separate folder for that or what??

[2022-07-26 09:16] Vikash-8090-Yadav commented on #7
Yeah sure !
 **make the two folder that is docs/pull-request_template.md

and .github/pull-request_template.md**
amd these folder should be in the root directory only .

**for more details u can go through the official docs of the github..**
https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/creating-a-pull-request-template-for-your-repository

Feel

[2022-07-26 15:48] khushimarothi opened #9 "Add contributors section in the readme.md of main folder"
To add contributors section in the main readme file.

please assign this to me.

[2022-07-26 16:00] Vikash-8090-Yadav commented on #9
Ya sure , but along with  this  please check the **grammatical error in the main Readme.md file and make the updation  **

[2022-07-26 17:56] Vikash-8090-Yadav opened #14 "Add the Hack club rait logo"
Hii folk's.
**In this issue You  are required to make the lable's of  for contributor , repo size , open issue etc as shown below  and Also add the logo of the HACK CLUB RAIT . as shown below after the cover image !**
<br>
![Screenshot from 2022-07-26 23-13-06](https://user-images.githubusercontent.com/85225156/181076922-9abf665b-4a70-4811-ba67-20b4dbe2cf7d.png)

**The logo of the HACK CLUB RAIT I

[2022-07-26 18:04] khushimarothi commented on #14
Can do it👍

[2022-07-26 18:29] Vikash-8090-Yadav commented on #14
sure  :smile:

[2022-07-27 07:00] surjyaneeh commented on #6
@Vikash-8090-Yadav Can You assign it to me?
And I have doubt about where should I include that issue_template.md file.

[2022-07-27 11:43] Vikash-8090-Yadav commented on #6
Yeah sure !

create **.github/ISSUE_TEMPLATE/add-project.md , custom.md , imporevements.md**

and this  folder should be in the root directory only .

[2022-07-27 12:40] #1 closed

[2022-07-27 12:40] #4 closed

[2022-07-27 13:41] surjyaneeh commented on #6
Can you suggest me the contents of custom.md file?

[2022-07-27 14:15] Vikash-8090-Yadav commented on #6
sure ,

![Screenshot from 2022-07-27 19-37-08](https://user-images.githubusercontent.com/85225156/181269670-d8598524-df00-4d4c-90b1-8b854a7a0feb.png)

[2022-07-27 17:37] #9 closed

[2022-07-28 16:59] #6 closed

[2022-07-29 12:53] #14 closed

[2022-07-29 12:55] #7 closed

[2022-08-03 18:39] AnmolSirola opened #20 "Adding readme.md file in level 0 and correct all the grammatical errors."
### Description of  the change
The readme.md files inside folder level 0 ( sendtoEather0 ) is empty I want to fix it and fix all the existing grammatical errors (inside all the folders).

### Domain of Docs

- [x] Readme
- [x] Documentation
#### Are you contributing under any open-source program ?
SSOC'22
<hr/>

[2022-08-03 18:41] Vikash-8090-Yadav commented on #20
Great issue start working on it @AnmolSirola

[2022-08-04 14:43] Vikash-8090-Yadav opened #22 "change folder name"
Hello folk's hope u all are doing well
If anyone want's to take this issue feel free to comment

**Task : change the name of docs to .docs present in the root directory**

Thank u :smile:

[2022-08-04 14:46] tanya-gupta25 commented on #22
I want to work on this issue under hsoc

[2022-08-04 14:50] Vikash-8090-Yadav commented on #22
Please mention the  open source programme in which u r contributing ...

[2022-08-04 14:51] Vikash-8090-Yadav commented on #22
Ok great start working on it ...

[2022-08-04 16:46] #22 closed

[2022-08-05 04:45] AnmolSirola commented on #3
@Vikash-8090-Yadav Is someone still working on this hello world contract ??

[2022-08-05 05:14] Vikash-8090-Yadav commented on #3
@srinjoy-26 are u still working on this issue
 ?

[2022-08-05 11:23] ankur0904 commented on #2
I want work on the frontend part. Please assign it to me.

[2022-08-05 11:31] Vikash-8090-Yadav commented on #3
@AnmolSirola u can work on  this now if u want...

[2022-08-05 11:33] Vikash-8090-Yadav commented on #2
@ankur0904  your task is to improve the frontend part of the level0 project and please tell the name of the project u wana to improve..

[2022-08-05 11:50] AnmolSirola commented on #3
Okay Sir I will work on it . I just want to ask that I have to only create a smart contract inside remix or in my own ide with truffle/ganache.

[2022-08-05 11:56] Vikash-8090-Yadav commented on #3
yes you have to work  on your ide with the Ganache , truffle and make frontend with the smart contract ...

[2022-08-05 12:03] AnmolSirola commented on #3
Okay Sir will do it but I need some time

[2022-08-05 12:57] kunal232i commented on #2
I want to work on this issue (on level0->Login_page) can you assign this for me..?

[2022-08-05 17:31] Vikash-8090-Yadav commented on #2
Raise a seperate issue for this ... @kunal232i

[2022-08-05 17:32] Vikash-8090-Yadav commented on #2
@kunal232i  ??

[2022-08-05 20:26] ankur0904 commented on #2
okay sir

[2022-08-05 22:03] Vikash-8090-Yadav commented on #2
please tell the file name in which u want to contribute ?

[2022-08-06 00:07] kunal232i commented on #2
sure 👍

[2022-08-06 00:09] kunal232i opened #25 "Improve the UI of the level0 -> Login_page"
Improve the frontend part of the level0 -> Login_page

[2022-08-06 06:09] Vikash-8090-Yadav commented on #2
@kunal232i  on which project u r working ?

[2022-08-06 06:17] Vikash-8090-Yadav commented on #25
Great @kunal232i  start working on this ..

[2022-08-06 07:21] Vikash-8090-Yadav opened #26 "Cover image is not working in mobile version"
### Description of  the change
Hey all if any one want to take's this issue feel free to comment .
**Task : The cover image is not showing in the mobile version . .**

### Domain of Docs

- [x] Readme

Describe more about the change.

![IMG_20220806_124627](https://user-images.githubusercontent.com/85225156/183238990-236edaf4-62bd-4303-bc82-aab2da1be592.jpg)

[2022-08-06 18:39] AyushPathak3011 opened #27 "NFT sharing dApp"
### Project title
NFT sharing dApp

### Project Description
A Social Media dApp, similar to Instagram, is a decentralized version of the Instagram platform for pets where users can browse photos of their favorite pets, see details of a specific pet, create a post and earn NFTs.

### Doc Domain

- [x] Solidity , ReactJs /NextJs , Web3.js /Ether.js, IPFS

#### Are you contributing under any open-sou

[2022-08-06 18:44] Vikash-8090-Yadav commented on #27
Great idea @AyushPathak3011  can u please tell the folder structure in which u wana to add this .

[2022-08-06 18:49] AyushPathak3011 commented on #27
Web3.0-World/Level2/NFT-Sharing-dApp

[2022-08-06 19:01] Vikash-8090-Yadav commented on #27
Fine .. start working on this

[2022-08-06 19:06] ankur0904 commented on #2
Web3.0-World->Level0->Mood

[2022-08-06 19:22] Vikash-8090-Yadav commented on #2
ok @kunal232i  Start working on this ...

[2022-08-08 18:35] GundaSudarrshan commented on #26
@Vikash-8090-Yadav  Can You Assign me this Issue

[2022-08-08 18:37] Vikash-8090-Yadav commented on #26
ya sure.....

[2022-08-08 18:41] GundaSudarrshan commented on #26
i have a doubt so if i add width inside the image tag i think problem will be solved

[2022-08-09 04:00] Vikash-8090-Yadav commented on #26
@GundaSudarrshan  are u from HSOC or SSOC ?

[2022-08-09 04:00] Vikash-8090-Yadav commented on #26
ya , u can try this also

[2022-08-09 07:53] GundaSudarrshan commented on #26
@Vikash-8090-Yadav  yeah i have raised the PR pls review

[2022-08-09 09:28] AyushPathak3011 opened #29 "Blogging dApp using IPFS"
### Project title
Blogchain

### Project Description
A blogging website where users can 'mint' a blog.

will be pushing to ```Web3.0-World/Level2/Blogchain```

### Doc Domain

- [x] Solidity , ReactJs /NextJs , Web3.js /Ether.js, IPFS, Hardhat

#### Are you contributing under any open-source program ?
SSOC '22
<hr/>

[2022-08-09 10:39] Vikash-8090-Yadav commented on #26
Ya .i will update u  by EOD

[2022-08-09 10:40] Vikash-8090-Yadav commented on #29
great idea @AyushPathak3011  start working on this ..

[2022-08-09 10:44] GundaSudarrshan commented on #26
HSOC @Vikash-8090-Yadav

[2022-08-09 10:46] Vikash-8090-Yadav commented on #26
Ok got it..

[2022-08-09 16:34] Vikash-8090-Yadav commented on #26
Hwy @GundaSudarrshan the image still not working on mobile version .Just do one thing just drag and drop that image in the placw of previous one...

[2022-08-10 06:48] GundaSudarrshan commented on #26
I didn't get it , sorry can you say again

[2022-08-10 08:18] Vikash-8090-Yadav commented on #26
I am saying that  the image which u r inserted from the image folder instead of taking through the image folder just drag and drop that image in place of that .... Let me know if this clear or not ?

@GundaSudarrshan

[2022-08-10 17:13] #29 closed

[2022-08-11 14:58] GundaSudarrshan commented on #26
yeah I have updated it please Check

[2022-08-16 19:31] deepshikha2708 opened #35 "level 1 readme"
### Description of  the change
Writing into the readme file of level 1

### Domain of Docs

- [x] Readme
- [] Solidity , Html, Css , JavaScript , Web3.js / Ether.js
- [] Solidity , ReactJs /NextJs , Web3.js /Ether.js
- [] Solidity , Python3 , Web3.py
- [] Other , feel free to mention below

#### Are you contributing under any open-source program ?

<hr/>

[2022-08-16 19:32] deepshikha2708 commented on #35
@Vikash-8090-Yadav will you please assign me this issue? and please also tell what exactly needs to be added in level 1?

[2022-08-16 19:37] Vikash-8090-Yadav commented on #35
@deepshikha2708 Are you contributing under any open-source program ?

[2022-08-18 07:46] iamifechi commented on #2
I want to work on this >> Web3.0-World/Level0/SendToEather/

[2022-08-18 11:00] Vikash-8090-Yadav commented on #2
ok ...Make a new Issue for this ...

[2022-08-18 17:49] kunal232i commented on #2
I amd done with my work of Login page.

[2022-08-18 22:52] iamifechi opened #37 "Improve the UI of the level0 projects > Web3.0-World/Level0/SendToEather/"
Improve the frontend part of the level0 projects > SendToEather

[2022-08-18 22:53] iamifechi commented on #37
Can I work on this?

[2022-08-19 19:18] chirag0002 opened #40 "[README] adding gitpod link and correcting the step 8 of staging commits"
### Description of  the change
- The Gitpod link should be there on the README to configure the repository on the browser without worrying about dependencies and forking of the repo.
- Step 8 of README must be corrected as it says to stage the commits by command `git add .`, it is a wrong open-source practice. Instead, you have to stage the commits only the files or folder you have worked upon.

#

[2022-08-19 19:20] chirag0002 commented on #40
@Vikash-8090-Yadav assign me this issue, I want to work on this.

[2022-08-20 08:13] Vikash-8090-Yadav commented on #40
Greate idea @chirag0002  start working on this ..

[2022-08-20 10:58] #25 closed

[2022-08-20 10:59] Vikash-8090-Yadav commented on #3
@AnmolSirola  any update ?

[2022-08-20 10:59] Vikash-8090-Yadav commented on #35
@deepshikha2708  ??

[2022-08-20 11:04] deepshikha2708 commented on #35
yes in HSOC22

[2022-08-20 11:05] Vikash-8090-Yadav opened #41 "Add SSOC LOGO"
Hey folk's hop u  all are doing well in this  issue  you all have to attach the SSOC logo just after t the HSOC
The  logo  is given below adjust the height and width accordingly .
Thank u
![IMG-20220820-WA0008](https://user-images.githubusercontent.com/85225156/185743071-147dd0ec-99fb-4413-8fd6-3494a8792b83.jpg)

[2022-08-20 11:49] chirag0002 commented on #41
@Vikash-8090-Yadav are you talking about, adding the SSOC logo in the README.md file?
If yes, I want to work on this issue.

[2022-08-20 15:18] AnmolSirola commented on #3
Sir, I wont be able to do it because my end sems are going on right now .

[2022-08-20 20:30] Vikash-8090-Yadav commented on #41
Yes @chirag0002  . OK
Start working  on this issue...

[2022-08-20 20:36] Vikash-8090-Yadav commented on #35
can you please share the SS of the mistake u r seeing in the README
Thank u ...

[2022-08-21 07:56] #40 closed

[2022-08-24 19:03] legendarykamal commented on #27
HI @AyushPathak3011 since this seems to be a long project , would you mind working on this together?

// @Vikash-8090-Yadav is that possible?

[2022-08-24 20:58] Vikash-8090-Yadav commented on #27
If u  are talking  under the SSOC'22 then not possible cux this is open source programme individual contribution matters.

[2022-08-25 18:17] #41 closed

[2022-09-03 03:31] #26 closed

[2022-09-03 03:32] #35 closed

[2022-09-03 03:37] Vikash-8090-Yadav opened #45 "How to start blockchain"
If anyone wants to create  the blog on the the topic "How to start blockchain "  from zero to advanced level

**Made image folder if u r using any image under the blog section.**

f anyone want's take this issue feel free to comment . Below are the points need to keep in mind while writing blog

1.     Introduction
2.     Pre requesite
3.     Main content
4.     Flow diagram
5.     Conclusion
6.

[2022-09-03 06:22] Vikash-8090-Yadav opened #46 "Add more project"
If anyone intersted to take this issue .. Comment on this
.
Task : You have to add some project in the Project_ideas section .
Thank u :smile:

[2022-09-03 17:09] AnmolSirola commented on #45
@Vikash-8090-Yadav I would like to work on this project .

[2022-09-03 19:18] Vikash-8090-Yadav commented on #45
sure @AnmolSirola

[2022-09-04 03:35] manisha-nair28 commented on #45
@Vikash-8090-Yadav Can we write more articles on blockchain-related topics in the Blog section?

[2022-09-04 04:08] Vikash-8090-Yadav commented on #45
Yes @manisha-nair28  u can create a seprate issue for this .

[2022-09-04 04:42] Vikash-8090-Yadav commented on #27
@AyushPathak3011 any updates ?

[2022-09-05 14:30] AnmolSirola commented on #45
@Vikash-8090-Yadav I wanted to ask I have to write about how to start blockchain development or like how to blockchain works ?

[2022-09-06 03:28] Vikash-8090-Yadav commented on #45
You have to give the roadmap  "How beginenr can start blockchain" @AnmolSirola

[2022-09-06 18:48] AnmolSirola commented on #46
@Vikash-8090-Yadav I am only supposed to give some ideas right? in the Project_ideas section ?

[2022-09-06 19:15] Vikash-8090-Yadav commented on #46
Ya add that project  in the format ..give the name of the project ,status , description etc  @AnmolSirola

[2022-09-07 02:26] AnmolSirola commented on #46
@Vikash-8090-Yadav I would like to work on this issue

[2022-09-07 15:39] #20 closed

[2022-09-07 16:21] Vikash-8090-Yadav commented on #46
@AnmolSirola Raise an issue for that project idea .

[2022-09-07 17:45] Vikash-8090-Yadav commented on #46
@AnmolSirola create a new issue for your project  and link that issue no with the P.R u  opened ,

[2022-09-07 17:46] Vikash-8090-Yadav commented on #46
Along with tell how many project idea are u adding so that i can attach the  label a/c to that

[2022-09-07 17:48] AnmolSirola commented on #46
@Vikash-8090-Yadav Okay Sir

[2022-09-07 18:05] Vikash-8090-Yadav commented on #46
Create a new  issue and link  that issue no with the P.R u opened as u linked this issue with that p.r if i  merge  that pr then this issue will also closed that's y i am saying .this

[2022-09-07 18:07] AnmolSirola commented on #46
@Vikash-8090-Yadav Yes sir I got your point but I am asking when I create a new issue  for new projects . I am supposed to add only new projects in the list or should I keep the old projects list and add new projects to it.

[2022-09-07 18:14] Vikash-8090-Yadav commented on #46
Ok i guess u r not getting . so let it be same , Just tell me how many project u want to added or u added in the project idea directory ?

[2022-09-07 18:19] AnmolSirola commented on #46
@Vikash-8090-Yadav I have added 9 projects right now will add few more till tomorrow morning .I will let you know when I am done adding.

[2022-09-08 06:54] #46 closed

[2022-09-11 13:56] #45 closed

[2022-09-11 18:48] ankur0904 commented on #37
Can I work on this issue?

[2022-09-12 09:25] Vikash-8090-Yadav commented on #37
@ankur0904 ya sure please tell the project name on which u wana to work ..

[2022-09-13 16:57] nirban256 opened #50 "Staking Dapp on Ploygon testnet"
### Project title
Matic Staking Dapp

### Project Description
It is a Matic Token Staking dapp where user will be able to stake matic tokens for 1 month, 3 months, 6 months and will gain interest based on there amount staked.

### Doc Domain

- [] Solidity , Html, Css , JavaScript , Web3.js / Ether.js
- [] Solidity , ReactJs /NextJs , Web3.js /Ether.js
- [] Solidity , Python3 , Web3.py
- [] Other

[2022-09-13 17:54] Vikash-8090-Yadav commented on #50
include this in Level1 folder .

[2022-09-13 17:59] nirban256 commented on #50
ok

[2022-09-13 19:05] Vikash-8090-Yadav opened #51 "Create the contributing.md for this repo"
As this file is already present in the directory with the name : contributing.md
I reuest if anyone want to take thiis then please comment .

[2022-09-14 04:27] AnmolSirola commented on #51
@Vikash-8090-Yadav I would like to work on this issue .

[2022-09-14 06:32] ankur0904 commented on #37
Web3.0-World/Level0/SendToEather/

[2022-09-14 07:36] Vikash-8090-Yadav commented on #51
Ok @AnmolSirola start working on this

[2022-09-14 08:09] AnmolSirola commented on #51
@Vikash-8090-Yadav What all things should I add inside it

[2022-09-14 12:33] Vikash-8090-Yadav commented on #37
@ankur0904  start working on this

[2022-09-14 17:57] AnmolSirola opened #53 "NFT-Market-Place"
### Project title
NFT-Market-Place

### Project Description
An NFT-MarketPlace where you can list and sell your nft , and we will use IPFS to store our data.

### Doc Domain

- [x] Solidity , ReactJs ,Ether.js , Hardhat, IPFS

#### Are you contributing under any open-source program ?
SSOC
<hr/>

[2022-09-14 19:37] #51 closed

[2022-09-14 19:40] Vikash-8090-Yadav commented on #53
Great idea @AnmolSirola please tell the folder structure

[2022-09-15 04:43] AnmolSirola commented on #53
I will be adding this project in level2 folder

[2022-09-15 15:00] AyushPathak3011 commented on #27
Sorry for being inactive, had some personal commitments.
Yes I am working on the final stages of this project, will update soon.

[2022-09-21 15:28] Vikash-8090-Yadav opened #59 "A brief summary about this repo"
If anyone want's to take this issue then , feel free to comment .
Thank u

[2022-09-21 15:29] Vikash-8090-Yadav opened #60 "A brief summary about this repo"
If anyone want's to take this issue then , feel free to comment .
Thank u

[2022-09-21 17:55] AnmolSirola opened #61 "Creating a Twitter dapp"
### Project title
Twitter

### Project Description
(Describe the project over here)

### Doc Domain

- [x] Solidity , ReactJs ,Ether.js , Hardhat, Moralis

#### Are you contributing under any open-source program ?
SSOC'22
<hr/>

[2022-09-21 17:55] AnmolSirola commented on #60
@Vikash-8090-Yadav I would like to work on this issue .

[2022-09-21 17:57] Vikash-8090-Yadav commented on #60
ok ...start working on this ...

[2022-09-21 18:06] Vikash-8090-Yadav commented on #61
@AnmolSirola start working on this ...

[2022-09-22 11:05] Vikash-8090-Yadav commented on #61
include  thia  in level1 folder.

[2022-09-22 16:16] #59 closed

[2022-09-22 16:42] #50 closed

[2022-09-22 16:52] AnmolSirola commented on #60
@Vikash-8090-Yadav Sir, should I add/put the file in which I have written about this repo

[2022-09-22 16:54] Vikash-8090-Yadav commented on #60
Yes @AnmolSirola

[2022-09-26 09:27] AnmolSirola commented on #61
@Vikash-8090-Yadav Sir, I really worked hard on this project but the project is not running and facing many issues with react hooks, linking ipfs etc. What should I do now ?? I wont be able to complete it before 1 oct (as the program is ending). What should I do now ?

[2022-09-27 12:11] Vikash-8090-Yadav commented on #61
what's  the problem are u facing in the ipfs ?
if the issue doesn't resolve before 29 then push the code code and i will  give u the   label according to the work done . And  after the programme end's  make sure to complete this .
Let me know if u   have  doubts

[2022-09-28 17:33] nirban256 opened #63 "Web3-Todo-Application"
### Project title
Web3 Todo App

### Project Description
It is a todo list application which the user can change according to there daily task performed

### Doc Domain

- [] Solidity , ReactJs /NextJs , Web3.js /Ether.js

#### Are you contributing under any open-source program ?
SSOC22
<hr/>

[2022-09-28 17:35] Vikash-8090-Yadav commented on #63
include this in level 1

[2022-09-28 17:35] nirban256 commented on #63
ok

[2022-09-29 03:30] Vikash-8090-Yadav commented on #27
@AyushPathak3011  . Any updates ???

[2022-09-29 03:30] Vikash-8090-Yadav commented on #37
@ankur0904  . any updates ?

[2022-09-29 03:36] nirban256 commented on #63
@Vikash-8090-Yadav can I close the issue?

[2022-09-29 03:46] Vikash-8090-Yadav commented on #63
sure @nirban256

[2022-09-29 03:47] #63 closed

[2022-09-29 03:48] #53 closed

[2022-09-29 03:48] Vikash-8090-Yadav commented on #3
@AnmolSirola any updates ?

[2022-09-29 14:14] AnmolSirola commented on #3
@Vikash-8090-Yadav Forgot about this issue also working on twitter dapp wont be able to complete this one

[2022-09-29 14:15] AnmolSirola commented on #61
@Vikash-8090-Yadav Project is almost done, making sidebars will raise a pr tonight .

[2022-09-29 16:16] ankur0904 commented on #37
Merged successfully
https://github.com/Vikash-8090-Yadav/Web3.0-World/pull/55

[2022-09-29 16:16] ankur0904 commented on #37
Please check it.

[2022-09-29 18:11] Vikash-8090-Yadav commented on #3
Close this then @Vikash-8090-Yadav

[2022-09-29 18:12] Vikash-8090-Yadav commented on #61
cool @AnmolSirola

[2022-09-29 18:15] #37 closed

[2022-09-29 18:53] AnmolSirola commented on #60
@Vikash-8090-Yadav By mistake I clicked on unaassign plz resign me ty

[2022-09-30 18:20] #3 closed

[2022-09-30 18:21] srinjoy-26 commented on #3
@Vikash-8090-Yadav I guess this issue was cursed , that's why no one completed it

[2022-09-30 18:31] #60 closed

[2022-10-01 02:15] kunal232i opened #67 "Improve UI for send to ether"
### Description of  the change
Improve UI of [SendToEther](https://github.com/kunal232i/Web3.0-World/tree/main/Level0/SendToEther) file

### Domain of Docs

- [] Readme
- [x] Solidity , Html, Css , JavaScript , Web3.js / Ether.js
- [] Solidity , ReactJs /NextJs , Web3.js /Ether.js
- [] Solidity , Python3 , Web3.py
- [] Other , feel free to mention below

#### Are you contributing under any open-so

[2022-10-01 02:16] kunal232i commented on #67
can you assign this to me..?

[2022-10-01 03:57] Vikash-8090-Yadav commented on #67
ya sure @kunal232i

[2022-10-01 04:10] ankur0904 opened #68 "I want to improve the files in Web3.0-World/Level0/Voting/"
### Description of  the change
Describe more about the change.

### Domain of Docs

- [] Readme
- [] Solidity , Html, Css , JavaScript , Web3.js / Ether.js
- [] Solidity , ReactJs /NextJs , Web3.js /Ether.js
- [] Solidity , Python3 , Web3.py
- [] Other , feel free to mention below

#### Are you contributing under any open-source program ?

<hr/>

[2022-10-01 07:41] Vikash-8090-Yadav commented on #68
Start working on this @ankur0904

[2022-10-01 10:32] akshat-jn-crypto opened #70 "Add project ideas"
### Description of  the change
Describe more about the change.

### Domain of Docs

- [] Readme
- [] Solidity , Html, Css , JavaScript , Web3.js / Ether.js
- [] Solidity , ReactJs /NextJs , Web3.js /Ether.js
- [] Solidity , Python3 , Web3.py
- [] Other , feel free to mention below

#### Are you contributing under any open-source program ?

<hr/>

[2022-10-01 10:33] akshat-jn-crypto commented on #70
please assign this issue to me

[2022-10-01 10:36] Vikash-8090-Yadav commented on #70
what u want  to do ? please decsribe your work ?

[2022-10-01 12:46] akshat-jn-crypto commented on #70
Add detailed articles on topics like
Decentralized Blog
Building your own blog doesn't only improve your coding skill, but your online presence too. If you have a blog and share content regularly, you can get a lot of visitors which can increase your online presence.

You can use this opportunity to build your blog on any blockchain.

Checkout Nader's article on how to build a full-stack blog appl

[2022-10-01 12:59] Vikash-8090-Yadav commented on #70
i gues for the hacktoberfest don't do this  this may    spam and can exclude my repo . Better  if  u made changes in the  code .
Hope u understand @akshat-jn-crypto

[2022-10-01 15:57] #70 closed

[2022-10-02 13:37] Omega12Pirme opened #73 "Add Marketplace site"
Hlo, i want to add the marketplace file in levle1 folder . this consist of the Adding the fruits  with the id name , cost and   name of  the fruits . then the added can be shown below.
After Adding anyone can buy the fruits of their  choice and also can view.

Please assign this issue to me . so  that i can contribute .
I am contributing under the Hackktoberfest 2022 .

[2022-10-02 14:37] Vikash-8090-Yadav commented on #73
@Omega12Pirme Great idea start working on this .

[2022-10-02 16:56] Omega12Pirme commented on #73
@Vikash-8090-Yadav  please this issue to me so that i can work on this .
Thanks in advance

[2022-10-02 17:21] Vikash-8090-Yadav commented on #73
Sure  @Omega12Pirme

[2022-10-04 12:22] #73 closed

[2022-10-04 18:04] suraj-git07 opened #75 "Want to Improve the UI of Web3.0-World/Level2/MetaNft_Minting/"
Change the threejs platform overall look to look better and also the form UI

[2022-10-04 19:03] Vikash-8090-Yadav commented on #75
@suraj-git07 Great idea .Start working on this .

[2022-10-05 11:19] suraj-git07 opened #76 "Want to deploy the smart contract of Web3.0-World/Level2/MetaNft_Minting on polygon chain"
Deploying Smart contracts will make it easier for everyone to execute the program without ganache or any other local chain provider.

[2022-10-05 11:37] suraj-git07 commented on #76
at this stage, I think its ok to let it go with ropsten

[2022-10-05 15:13] Mohammed-Shoaib01 opened #78 "Want to create Code of Conduct"
Wanted to create the Code of Conduct for this Repository, thank you for your advice!

[2022-10-05 15:50] Vikash-8090-Yadav commented on #78
@Mohammed-Shoaib01 Great ,start contributing in this .

[2022-10-06 17:44] #78 closed

[2022-10-07 17:09] Omega12Pirme opened #79 "Full site to get Data feed ETH/USD via chainlink"
Hii sir , please assign this issue to me ,
In this i want create a smart contract which can get the real time data feeds with the help of the chainLink API .

This  contains the full site with the working .

The folder structure is ; Level1/Chainlink/RealTimedata.sol

[2022-10-07 17:14] Vikash-8090-Yadav commented on #79
HII @Omega12Pirme . This looks very great and nice idea . Start working on this

[2022-10-07 18:27] #79 closed

[2022-10-18 16:36] Omega12Pirme opened #82 "Want to deploy Voting application on spheron"
Hey , i want to deploy the voting application on the spheron.
Please assign this issue to  me .

[2022-10-18 16:46] Omega12Pirme opened #83 "Improve the readme of the voting application"
Hey , please assign this issue  to me . I want to improve the readme of the  voting application .

[2022-10-18 16:49] Omega12Pirme opened #84 "Blog on erc20 and erc721 and rc 1155 ."
Hey , please assign this issue to me . I want to add   the  blog's on the topic Erc and erc21

[2022-10-18 16:51] Omega12Pirme commented on #84
Great start working on this issue  .

[2022-10-18 16:52] Vikash-8090-Yadav commented on #82
Great , start working on this issue .

[2022-10-18 16:53] Vikash-8090-Yadav commented on #83
PLease go through the guidelines before doing any chnages

[2022-10-18 16:53] Vikash-8090-Yadav commented on #84
Great idaea. Please follow the l guidelines  of the  blog

[2022-10-19 05:11] #82 closed

[2022-10-19 05:11] #83 closed

[2022-10-19 05:37] Omega12Pirme commented on #84
Updated  the issue  please check and assign this to me .

[2022-10-19 06:14] #84 closed

[2022-10-19 09:46] AnmolSirola opened #88 "Writing a Blog about Defi"
### Project title
What is Defi ?

### Project Description
Writing a Blog about Defi

#### Are you contributing under any open-source program ?
 HackOberfest
<hr/>

[2022-10-19 09:54] Vikash-8090-Yadav commented on #88
Great idea . Start working on this issue .

[2022-10-19 10:07] Omega12Pirme opened #89 "Random Meme generator"
Hi, i want to add  the random meme generator . Plaese assign this issue to me .
The folder structure will be ->  fornten_projectcts/Random-Meme-generaor

I am participating in the hacktoberfest 2022.
Thanks in advance .

[2022-10-19 10:10] Omega12Pirme opened #90 "Tic Toe Game"
Hi, i want  to add  the tic toe game  using html, css, js.  please assign this issue to me .
Thanks

Participating under : Hacktoberfest

[2022-10-19 10:12] Omega12Pirme opened #91 "Instagram clone"
Hey , please assign this issue to me  . I want to make the instagram clone .

Participating in hacktoberfest 2022 .

[2022-10-19 10:49] Vikash-8090-Yadav commented on #90
looks great to me .
START WORKING ON THIS ISSUE .!

[2022-10-19 10:50] Vikash-8090-Yadav commented on #89
LGTM , START WORKING ON THIS.
Please follow  the github contribution guidelines .

[2022-10-19 12:58] AnmolSirola opened #95 "Blog about NFT's"
### Project title
What are NFt's

### Project Description
Blog about NFT's

#### Are you contributing under any open-source program ?
 HackOberfest
<hr/>

[2022-10-19 13:00] #91 closed

[2022-10-19 13:00] Vikash-8090-Yadav commented on #95
Great start working on this .

[2022-10-19 13:39] GloriaOkeke opened #97 "Write a blog post about Ethereum killers"
### Project title
What are Ethereum killers?

### Project Description
Blog everything about Ethereum killers

### Doc Domain

- [] Solidity , Html, Css , JavaScript , Web3.js / Ether.js
- [] Solidity , ReactJs /NextJs , Web3.js /Ether.js
- [] Solidity , Python3 , Web3.py
- [] Other , feel free to mention below

#### Are you contributing under any open-source program ?
Hacktoberfest

<hr/>

[2022-10-19 14:15] Vikash-8090-Yadav commented on #97
Great idea @GloriaOkeke  . Start working on this .
Thank u

[2022-10-19 15:16] lanu2 commented on #97
is it open?

[2022-10-19 15:41] Vikash-8090-Yadav commented on #97
yes @lanu2  . but this already assigned to @GloriaOkeke .
Sorry u can't work on this as of now .
Think of another idea  and raise issue for this .

[2022-10-19 16:12] Omega12Pirme opened #98 "Twitter clone"
Hey , i want to add  the  twitter clone in the frontend project .

please assign this issue to me  .

Participating in Hacktoberfest 2022 .

[2022-10-19 16:17] Vikash-8090-Yadav commented on #98
Great start working on this .

[2022-10-19 16:57] GloriaOkeke commented on #97
thanks, I'm working on it

[2022-10-19 17:30] Omega12Pirme opened #99 "Swiggy Clone"
Hey , I want to  create the swiggy clone.
PLease assign this issue to me .
Thank u in adcance

[2022-10-20 15:28] #98 closed

[2022-10-20 15:29] #95 closed

[2022-10-20 15:29] #90 closed

[2022-10-20 15:29] #88 closed

[2022-10-20 15:34] hashimkhan17 commented on #95
sir can you assign me new topic

[2022-10-20 16:21] hashimkhan17 opened #102 "All about Dapps"
### Project title
All about Dapps

### Project Description
all about decentralized application using blockchain technology

### Doc Domain

- [] Solidity , Html, Css , JavaScript , Web3.js / Ether.js
- [] Solidity , ReactJs /NextJs , Web3.js /Ether.js
- [] Solidity , Python3 , Web3.py
- [] Other , feel free to mention below

#### Are you contributing under any open-source program ?

<hr/>

[2022-10-20 16:23] Vikash-8090-Yadav commented on #102
Great idea @hashimkhan17 .Start working on this .

[2022-10-21 03:43] royalpinto007 opened #104 "Zomato Clone"
### Zomato Clone

### Project Description
A Web3 project made using HTML and CSS.

### Doc Domain

- [] Solidity , Html, Css , JavaScript , Web3.js / Ether.js
- [] Solidity , ReactJs /NextJs , Web3.js /Ether.js
- [] Solidity , Python3 , Web3.py
- [] Other , feel free to mention below

#### Are you contributing under any open-source program ?
<hr/>

[2022-10-21 03:48] Vikash-8090-Yadav commented on #104
Great . But it's not web3 project it;s web2 please correct this .
Start working on this .
Thank u  :smile:

Happy open source

[2022-10-21 10:56] #104 closed

[2022-10-21 10:57] #99 closed

[2022-10-21 11:17] #89 closed

[2022-10-21 11:19] targithu opened #109 "Adding Two Frontend Projects"
- _added a static website which has information on the game of thrones._
- _added  another basic website which helps users to login to Codeclub._

[2022-10-21 13:53] Omega12Pirme opened #110 "Apple site clone"
Hey , please assign this issue to   me. I want to  make clone for the apple store .

[2022-10-21 13:56] Omega12Pirme commented on #110
Great start working on this @Omega12Pirme

[2022-10-21 13:56] Vikash-8090-Yadav commented on #110
Great start working on this @Omega12Pirme

[2022-10-21 14:07] #110 closed

[2022-10-21 14:18] Omega12Pirme opened #113 "Ping Pong game"
Please assign this to me , i wan to add the ping pong game .

Thank u

[2022-10-21 14:27] #113 closed

[2022-10-21 17:47] hashimkhan17 commented on #102
Complete Guide about DApps

[2022-10-21 17:58] hashimkhan17 commented on #102
sir i want to work more please assign me 3 more topics

[2022-10-22 06:16] #109 closed

[2022-10-22 06:24] targithu opened #115 "cricket webpage"
### Project title
CRICKET WEBPAGE

### Project Description
A WEBSITE WHICH HAS INFORMATION REGARDING CRICKET RECORDS,THE CHAMPIONS IN VARIOUS TOURNAMENTS AND UPCOMING ICC TOURNAMENTS.

### Doc Domain

- [X] Solidity , Html, Css , JavaScript , Web3.js / Ether.js

[2022-10-22 06:27] Vikash-8090-Yadav commented on #115
Start working on this . @targithu .

[2022-10-22 09:50] Omega12Pirme opened #118 "Spotify Clone"
Hey, I  want  to make the spotify clone . Can u please assign this to me ,

[2022-10-22 09:50] #115 closed

[2022-10-22 09:51] Vikash-8090-Yadav commented on #118
Great  start working on this @Omega12Pirme

[2022-10-22 16:25] #118 closed

[2022-10-22 16:29] Omega12Pirme opened #120 "Blog on Hyperledger fabric"
Hey , i want to create  blog on the hyper ledger fabric . Please assign this to me ,

Thanks   in advance

[2022-10-22 16:30] Vikash-8090-Yadav commented on #120
Great start working on this . @Omega12Pirme

[2022-10-22 18:47] Envoy-VC opened #121 "Blog on Soulbound Tokens"
### Project title
What are Soulbound Tokens

### Project Description
In this post, we'll describe SoulBound Tokens (SBTs), which are the fundamental building blocks of the Decentralized Society, a new Web3 trend.

### Doc Domain

- [] Solidity , Html, Css , JavaScript , Web3.js / Ether.js
- [] Solidity , ReactJs /NextJs , Web3.js /Ether.js
- [] Solidity , Python3 , Web3.py
- [] Other , feel free t

[2022-10-22 22:47] Vikash-8090-Yadav commented on #121
@Envoy-VC Great start working on this

[2022-10-23 08:51] Envoy-VC commented on #121
hey @Vikash-8090-Yadav I'm done.

[2022-10-23 11:39] #121 closed

[2022-10-23 11:42] Envoy-VC opened #123 "Improve ERC-20 ERC-721 ERC-1155 Blog"
### Description of  the change
Enhance the blog by including interactive visuals, detailed use cases for ERC tokens, and a new ERC-777 Standard.

### Domain of Docs

- [x] Readme

#### Are you contributing under any open-source program ?
Hacktoberfest 2022, Hacksquad
<hr/>

[2022-10-23 14:03] Vikash-8090-Yadav commented on #123
Start working on this .@Envoy-VC

[2022-10-23 15:53] Envoy-VC commented on #123
hey @Vikash-8090-Yadav it's done.

[2022-10-23 16:24] #123 closed

[2022-10-24 11:23] GloriaOkeke commented on #97
Hi @Vikash-8090-Yadav I just made a PR on this. Kindly review and merge

[2022-10-27 14:55] Envoy-VC opened #128 "Blog on Web3 Glossary"
### Project title
Web3 Glossary

### Project Description
Add a Blog Post on Important terms in web3 and crypto space

### Doc Domain

- [] Solidity , Html, Css , JavaScript , Web3.js / Ether.js
- [] Solidity , ReactJs /NextJs , Web3.js /Ether.js
- [] Solidity , Python3 , Web3.py
- [] Other , feel free to mention below

#### Are you contributing under any open-source program ?

Hacksquad
<hr/>

[2022-10-27 14:58] Envoy-VC opened #129 "Blog on Smart Contract"
### Project title
Build Your First Smart Contract using Solidity

### Project Description
Step by step guide on making a simple smart contract in solidity using remix ide

### Doc Domain

- [] Solidity , Html, Css , JavaScript , Web3.js / Ether.js
- [] Solidity , ReactJs /NextJs , Web3.js /Ether.js
- [] Solidity , Python3 , Web3.py
- [] Other , feel free to mention below

#### Are you contributing

[2022-10-27 15:12] GloriaOkeke commented on #97
Line 3 is clear from my end. Please will you prefer sending a screenshot so I can see the problem better

![eth](https://user-images.githubusercontent.com/104257033/198328624-afc6c001-664f-41fb-86a0-9e7330895024.png)

[2022-10-27 15:29] Vikash-8090-Yadav commented on #97
@GloriaOkeke ,this is what am seeing .

![Screenshot_2022-10-27-20-56-45-718_com android chrome](https://user-images.githubusercontent.com/85225156/198332965-98da4999-9eaf-47c3-85ff-2f73d774e617.jpg)

[2022-10-27 15:30] Vikash-8090-Yadav commented on #128
Great start working on this @Envoy-VC

[2022-10-27 15:32] Vikash-8090-Yadav commented on #129
Sure,start working on this @Envoy-VC

[2022-10-27 18:19] Nitishupkr commented on #128
Can u pls assing me this repo?

[2022-10-27 18:26] GloriaOkeke commented on #97
Okay, but I made a new commit... and corrected this already
Please can you check the commit history for the change.

[2022-10-27 19:14] Envoy-VC commented on #128
@Vikash-8090-Yadav Hey its Done.

[2022-10-27 19:20] Envoy-VC commented on #129
@Vikash-8090-Yadav Hey it's done.

[2022-10-27 19:24] Vikash-8090-Yadav commented on #128
@Nitishupkr it's already aasigned to @Envoy-VC  u can't work on this

[2022-10-27 22:39] #129 closed

[2022-10-27 22:40] #128 closed

[2022-10-31 13:57] targithu opened #139 "new GOT website"
### Project title
Game of thrones WEBPAGE

[2022-10-31 14:15] targithu opened #141 "Readme file improvisation"
Adding another command

[2022-10-31 14:18] Vikash-8090-Yadav commented on #141
Great . start working   on this

[2022-10-31 15:00] #139 closed

[2022-11-01 18:40] #141 closed